



header {
  background-color: #ED5565; /* Колір фону заголовка */
  padding: 30px 15px; /* Відступи зверху і знизу */
  border-radius: 0px 0px 40px 40px; /* Закруглені кути */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тінь для додаткового ефекту */
  display: flex;
  height: 125px;
}

.buttons {
  margin-top: 15px ; /* Відступ між заголовком і кнопками */
  display: flex;
  width: 600px;
  justify-content: space-around;
}

.button {
  display: flex; /* Відображення кнопки в ряд */
  background-color: #a33843; /* Колір фону кнопки */
  color: white; /* Колір тексту кнопки */
  padding: 10px 20px; /* Внутрішні відступи кнопки */
  border: none; /* Без рамки */
  border-radius: 25px; /* Закруглені кути кнопки */
  text-decoration: none; /* Без підкреслення тексту */
  font-size: 16px; /* Розмір шрифту */
  transition: background-color 0.3s, transform 0.3s; /* Ефект переходу */
  align-items: center;
}

.button:hover {
  background-color: #6b242b; /* Зміна кольору при наведенні */
  transform: scale(1.05); /* Легке збільшення при наведенні */
}
.h1{
  margin-left: 10px;
}
.logo{
  height:50px;
  weight:50px;
}














/* Контейнер для заголовка та абзаца */
.content-container {
    background-color: #ED5565; /* Світлий фон */
    border-radius: 10px; /* Закруглені кути */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тінь для глибини */
    padding: 20px; /* Внутрішні відступи */
    max-width: 600px; /* Максимальна ширина контейнера */
    margin: 30px auto; /* Центрування контейнера на сторінці */
}

/* Стилі для заголовків h1 */
.main-title {
    font-size: 2.5em; /* Збільшити розмір шрифту */
    color: #000000; /* Темний колір тексту */
    text-align: center; /* Вирівнювання по центру */
    margin: 20px 0; /* Відступи зверху і знизу */
    font-weight: bold; /* Жирний текст */
    text-transform: uppercase; /* Всі літери великими */
}

/* Стилі для абзаців */
.main-paragraph {
    font-size: 1.2em; /* Розмір шрифту абзаців */
    color: #000000; /* Світліший колір тексту */
    line-height: 1.6; /* Висота рядка для кращого читання */
    margin: 10px 0; /* Відступи зверху і знизу */
    text-align: justify; /* Вирівнювання тексту по ширині */
}



/* Контейнер для оцінки */
.rating-container {
    background-color: #ED5565; /* Світліший фон для відмінності */
    border-radius: 5px; /* Закруглені кути */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тінь для глибини */
    padding: 15px; /* Внутрішні відступи */
    max-width: 300px; /* Максимальна ширина контейнера */
    margin: 20px auto; /* Центрування контейнера на сторінці */
    text-align: center; /* Вирівнювання тексту по центру */
}

/* Стилі для тексту оцінки */
.rating-text {
    font-size: 1.5em; /* Розмір шрифту для тексту */
    color: #000000; /* Темний колір тексту */
    margin: 0; /* Відсутність зовнішніх відступів */
}

/* Стрілочка вниз */
.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent; /* Ліва частина стрілки */
    border-right: 10px solid transparent; /* Права частина стрілки */
    border-top: 10px solid #000000; /* Колір стрілки */
    margin: 10px auto 0; /* Відступи для центрування */
}


















* { box-sizing: border-box; }

.container {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: row-reverse;
  height: 150px;
  position: relative;
}

.rating-0 {
  filter: grayscale(100%);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.emoji-wrapper {
  width: 100%;
  text-align: center;
  height: 100px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.emoji-wrapper:before,
.emoji-wrapper:after{
  content: "";
  height: 15px;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
}

.emoji-wrapper:before {
  top: 0;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%,rgb(255, 255, 255) 35%,rgba(255,255,255,0) 100%);
}

.emoji-wrapper:after{
  bottom: 0;
  background: linear-gradient(to top, rgb(255, 255, 255) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,0) 100%);
}

.emoji {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.emoji > svg {
  margin: 15px 0; 
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}

#rating-1:checked ~ .emoji-wrapper > .emoji { transform: translateY(-100px); }
#rating-2:checked ~ .emoji-wrapper > .emoji { transform: translateY(-200px); }
#rating-3:checked ~ .emoji-wrapper > .emoji { transform: translateY(-300px); }
#rating-4:checked ~ .emoji-wrapper > .emoji { transform: translateY(-400px); }
#rating-5:checked ~ .emoji-wrapper > .emoji { transform: translateY(-500px); }

.feedback {
  max-width: 360px;
  background-color: #ffffff;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 4px 30px rgba(0,0,0,.05);
}



























body {
    display:grid;
    grid-template-rows: 1fr 10rem auto;
    grid-template-areas:"main" "." "footer";
    overflow-x:hidden;
    background:#F5F7FA;
    min-height:100vh;
    font-family: 'Open Sans', sans-serif;
    margin:0;
    background-color: rgb(133, 19, 82);
  
    .footer {
        z-index: 1;
        --footer-background:#ED5565;
        display:grid;
        position: relative;
        grid-area: footer;
        min-height:12rem;
        margin-top:1200px;
  
        .bubbles {
            position: absolute;
            top:0;
            left:0;
            right:0;
            height:1rem;
            background:var(--footer-background);
            filter:url("#blob");
  
            .bubble {
                position: absolute;
                left:var(--position, 50%);
                background:var(--footer-background);
                border-radius:100%;
                animation:bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
                    bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
                transform:translate(-50%, 100%);
            }
        }
        .content {
            z-index: 2;
            display:grid;
            grid-template-columns: 1fr auto;
            grid-gap: 4rem;
            padding:2rem;
            background:var(--footer-background);
            a, p {
                color:#F5F7FA;
                text-decoration:none;
            }
            b {
                color:white;
            }
            p {
                margin:0;
                font-size:.75rem;
            }
            >div {
                display:flex;
                flex-direction:column;
                justify-content: center;
                >div {
                    margin:0.25rem 0;
                    >* {
                        margin-right:.5rem;
                    }
                }
                .image {
                    align-self: center;
                    width:4rem;
                    height:4rem;
                    margin:0.25rem 0;
                    background-size: cover;
                    background-position: center;
                }
            }
        }
    }
  }
  
  @keyframes bubble-size {
    0%, 75% {
        width:var(--size, 4rem);
        height:var(--size, 4rem);
    }
    100% {
        width:0rem;
        height:0rem;
    }
  }
  @keyframes bubble-move {
    0% {
        bottom:-4rem;
    }
    100% {
        bottom:var(--distance, 10rem);
    }
  }
  
  